/*
CSS
*/

body {
    background:transparent url(../img/header.jpg) no-repeat top center;
    background-color: black;
    margin:auto;
}

container, header, nav, footer {
    margin:auto;
    display:block;
}

container {
    width:900px;
    border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 1px 3px rgb(187, 187, 187);
    background-color:white;
}

a {
	color:#258fc1;
	text-decoration:none;
}

a:visited {
	color:#258fc1;
}

a:hover {
	color:#d60000;
}

.title {
	color: #FFF;
	text-decoration:none;
}

.title:visited {
	color: inherit;
}

.title:hover {
	color:#d60000;
}

header {
	
	width:900px;
	height:150px;
	color:white;
}

header h1 {
	padding-top:50px;
	font-family: 'Ubuntu', sans-serif, Arial;
	font-size: 65px;
	font-weight: bold;	
}

header h4 {
	color:#aaaaa5;
	font-family: Arial, sans-serif;
}

#inline {
	float:left;
}

#content {
	padding: 15px 15px 15px 15px;
}

footer {
	border-style:solid;
	border-color: #aaaaa5 ;
	border-width: 1px;
	border-radius: 0px 0px 15px 15px;
	padding: 10px 15px 10px 15px;
}

#content h2 {
	font-size: 38px;
	font-family: sans-serif;
}

#content p {
	font-size: 20px;
	font-family: Arial;
}

input[type="text"],
input [type="email"],
input[type="password"] {
	border: 1px solid #ccc;
	outline: 0;
	padding: 6px 15px;
	box-shadow: inset 0 2px 2px #eee;
	-moz-box-shadow: inset 0 2px 2px #eee;
	-webkit-box-shadow: inset 0 2px 2px #eee;

	border-radius: 4px;
	-moz-border-radius: 4px;
	--webkit-border-radius: 4px;
}

#form_inscricao label,
#form_inscricao input { 
	display: block; 
}

#form_inscricao label {
	padding: 5px 0 5px 4px ;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}